

<div class="container">

  <div class="row col-sm-12 col-md-6 text-center">
    <ul style="list-style: none;">
      <div class="header-new-livraison">
        <li> <strong><%= @girlfriend.name %></strong> </li>
      </div>

    <div class="list-product">
      <div class="left-position">
      <li><%= @girlfriend.description %></li>
      <li><%= @girlfriend.city %></li>
      <li><%= @girlfriend.street %></li>
      </div>
      <li><%= image_tag @girlfriend.picture (:medium) %></li>
    </div>

    <br>
      <div class="price">
        <li><%= @girlfriend.price %> € </li>
      </div>
    </ul>
  </div>




  <div class="col-sm-12 col-md-6 text-center">
    <div class="header-new-livraison">
      <h2> When do you want this basket ? </h2>
    </div>
    <%= simple_form_for([:account, @girlfriend, @appointment], html: { multipart: true }) do |f| %>
    <%= f.error_notification %>
    <%= f.input :appointment_on %>
    <%= f.button :submit %>
    <% end %>

   <h2><strong><%= alert %></strong></h2>


  </div>


</div>







