

<div class="container">
  <div class="row col-sm-12 col-md-6">
    <h3> summary statement</h3>

    <h4> You chose to have a date with  <strong><%= @girlfriend.name %></strong> </h4>
    <ul>
      <li><%= @girlfriend.description %></li>
      <li><%= @girlfriend.price %> dollars </li>
      <li><%= @girlfriend.age %> years old </li>
      <li><%= @girlfriend.city %></li>
      <li><%= @girlfriend.street %></li>
      <li><%= @girlfriend.job %></li>
      <li><%= image_tag @girlfriend.picture (:medium) %></li>
    </ul>
  </div>

<div class="col-sm-12 col-md-6">
<h2> choose your date </h2>
<%= simple_form_for([:account, @girlfriend, @appointment], html: { multipart: true }) do |f| %>
<%= f.error_notification %>
<div class="container">
  <div class="row">
    <%= f.input :appointment_on %>
    <%= f.button :submit %>
  </div>
</div>
<% end %>
</div>
</div>








