

<div class="container">

  <div class="col-sm-12 col-md-6 text-center">
      <div class="header-new-livraison">
         <strong><%= @girlfriend.name %></strong>
      </div>

    <div class="list-product">
      <%= @girlfriend.description %>
      <br>
      <%= image_tag @girlfriend.picture (:medium) %></li>
    </div>

    <br>
      <div class="price">
      <%= @girlfriend.price %> €
      <br>
      Production habitant à <%= @girlfriend.city %>
      </div>
    </ul>
  </div>




  <div class="col-sm-12 col-md-6 text-center">
    <div class="header-new-livraison">
      <h2> When do you want this basket ? </h2>
    </div>
    <%= simple_form_for([:account, @girlfriend, @appointment], html: { multipart: true }) do |f| %>
    <%= f.error_notification %>
    <%= f.input :appointment_on %>
    <%= f.button :submit %>
    <% end %>

   <h2><strong><%= alert %></strong></h2>


  </div>


</div>







