<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="col-md-6">
        <h1><%= current_user.email %></h1>
        <%= image_tag current_user.picture %>
      </div>
      <div class="col-md-6">
        <div class="card"> <%= link_to "Your girls", account_girlfriends_path %> </div>
        <div class="card"> <%= link_to "Add a girl", new_account_girlfriend_path %> </div>
        <div class="card"> <%= link_to "List all the girls", girlfriends_path %> </div>

      </div>
    </div>
  </div>
</div>



<div class="container text-center">
  <div class="row">
    <ul style="list-style: none;">
     <li><h1>My next appointments</h1></li>
    </ul>
      <% @appointments.each do |appointment| %>
        <% if appointment.appointment_on > Time.now %>
          <ul style="list-style: none;">
            <li><%= appointment.appointment_on %></li>
            <li> With <%= appointment.girlfriend.name %> </li>
            <li><p> <%= link_to 'Check her profile again !', girlfriend_path(appointment.girlfriend) %></li>
            </ul>
        <% end %>
      <% end %>

      <li style="list-style: none;"><h1>My past appointments</h1></li>
        <% @appointments.each do |appointment| %>
        <% if appointment.appointment_on < Time.now %>
          <ul style="list-style: none;">
            <li><%= appointment.appointment_on %></li>
            <li> With <%= appointment.girlfriend.name %> </li>
            <li><p> <%= link_to 'Check her profile again !', girlfriend_path(appointment.girlfriend) %></li>
          </ul>
        <% end %>
        <% end %>

  </div>
</div>
