<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="col-md-6 titre-product">
        <h3> Welcome <%= current_user.email %></h3>
        <%= image_tag current_user.picture %>
      </div>
      <br>

        <p><%= link_to "Add a lesson", new_account_girlfriend_path, class: "navbar-wagon-button btn" %></p>
        <br>
      <br>

    </div>
  </div>
</div>

<hr>

<div class="container text-center">
  <div class="row">
    <h1>Your next cooking experiences</h1>
     <br>
      <br>
       <br>
      <br>
      <div class="container">
        <% @appointments.each do |appointment| %>
          <div class="col-md-6 col-lg-4">
            <% if appointment.appointment_on > Time.now %>
                <div class="price">
                <%= appointment.appointment_on %>
                <br>
                For <%= appointment.girlfriend.name %>
                <br>
                <%= link_to "Delete this experience", account_appointment_path(appointment), method: :delete, class: "navbar-wagon-button btn"  %>
                </div>
               <br>
               <br>
               <br>
              <br>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
</div>
