<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="col-md-6">
        <h1><%= current_user.email %></h1>
        <%= image_tag current_user.picture %>
      </div>
      <div class="col-md-6">
        <div class="card"> <%= "Your appointments" %> </div>
        <div class="card"> <%= link_to "Your girls", account_girlfriends_path %> </div>
        <div class="card"> <%= link_to "Add a girl", new_account_girlfriend_path %> </div>

      </div>
    </div>
  </div>
</div>
