<%= simple_form_for([:account, @girlfriend], html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <div class="container">
    <div class="row">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :age %>
      <%= f.input :street %>
      <%= f.input :postcode %>
      <%= f.input :city %>
      <%= f.input :availability %>
      <%= f.input :nationality %>
      <%= f.input :job %>
      <%= f.input :picture %>


      <%= f.button :submit %>
    </div>
  </div>
<% end %>




