<div class="container">
  <div class="row col-sm-12 col-md-6 text-center">

    <ul style="list-style: none;">
      <li><strong><%= @girlfriend.name %></strong></li>
      <li><%= @girlfriend.description %></li>
      <li><%= @girlfriend.price %> dollars </li>
      <li><%= @girlfriend.age %> years old </li>
      <li><%= @girlfriend.city %></li>
      <li><%= @girlfriend.street %></li>
      <li><%= @girlfriend.postcode %></li>
      <li><%= @girlfriend.availability %></li>
      <li><%= @girlfriend.nationality %></li>
      <li><%= @girlfriend.job %></li>
      <li><%= image_tag @girlfriend.picture (:medium) %></li>
    </ul>
  </div>

  <div class="row col-sm-12 col-md-6 text-center">
    <br>
    <br>
    <br>
    <br>
    <%= link_to "delete this girl", account_girlfriend_path, method: :delete, class: "btn btn-warning"  %>
    <%= link_to "back to profile", account_dashboard_path, class: "btn btn-warning"  %>
  </div>
</div>




