<br>
<br>
<br>

<div class="container card">

  <div class="row col-xs-12 col-md-4 text-center">
    <li><%= image_tag @girlfriend.picture (:medium) %></li>
  </div>

  <div class="row col-xs-12 col-md-4 text-center">

    <ul style="list-style: none;">
      <li><h1><%= @girlfriend.name %></h1></li>
      <li><%= @girlfriend.description %></li>
      <li><%= @girlfriend.price %> € </li>
      <li><%= @girlfriend.city %></li>
      <li><%= @girlfriend.street %></li>
      <li><%= @girlfriend.postcode %></li>

      <li><% if @girlfriend.availability %>
            <p> Available ! <p>
          <% else %>
            <p> Not available ! </p>
          <% end %>
      </li>
    </ul>
  </div>

  <div class="row col-xs-12 col-md-4 text-center">
    <br>
    <br>
    <br>
    <%= link_to "delete this basket", account_girlfriend_path, method: :delete, class: "btn navbar-wagon-button"  %>
    <br>
    <br>
    <%= link_to "back to profile", account_dashboard_path, class: "btn navbar-wagon-button"  %>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="map-show col-xs-12">

    </div>
  </div>
</div>




