<%= simple_form_for(@cocktail) do |f| %>
<%= f.error_notification %>
<div class="container">
  <div class="row">
    <%= f.input :name %>
    <%= f.input :picture %>
    <%= f.button :submit %>
  </div>
</div>
<% end %>
