<div class='text-center'>

  <div class="banner">
    <div class="banner-shadow"></div>
    <div class="content text-center" data-sr='enter top'>
      <h1> ChefBnb </h1>
      <h3> Pick your Chef </h3>

      <div class="form-group text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <%= form_tag("/girlfriends", method: "get") do %>
                <%= text_field_tag :city, nil, class: "form-control", name: "user_input_city", id: "user_input_city", placeholder: 'City' %>
                <%= submit_tag "Search", class: 'btn navbar-wagon-button' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="col-sm-6 col-md-6">
      <h1> Do you want to learn cooking some fresh organic food with an awesome Chef? </h1>
        <p> Check out all our chef and their recipee. It's a unique experience for all the food lovers. </p>
        <p> All our Chef are CIA and NASA approved (The real cawboys of gastronomy). Stop eating junk food and bring it on! </p>
    </div>
    <div class="embed-container col-sm-6 col-md-6">
      <iframe width="560" height="349" src="http://www.youtube.com/embed/Qj1z3NQh0eM">
        <html lang="en" dir="ltr">
      </iframe>
    </div>
  </div>


  <br>
  <br>
  <br>

  <div class="container">
    <div class="col-sm-12 col-md-6">
    </div>
      <h1> Organic food certified </h1>
      <p> We make sure than the products the chef uses to cook come from local farmers and are organic. Our purpose is to enhance the cooking experience while acting for substainability </p>
  </div>

  <hr>

  <h2><%= link_to 'Our chefs', girlfriends_path, class: "navbar-wagon-item navbar-wagon-button btn" %></h2>

  <div class="container">
    <% @girlfriends.each do |girlfriend| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card text-center" >
        <span class="card-shadow"></span>
        <div class="card-bg" style="background-image:url(<%= girlfriend.picture.url (:medium) %>)"></div>
        <span class="card-text">
          <h2><%= girlfriend.name %></h2>
          <p><%= girlfriend.city %></p>
        </span>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>





