<div class='text-center'>

  <div class="banner">
    <div class="banner-shadow"></div>
    <div class="content text-center" data-sr='enter top'>
      <h1> Pick your girl </h1>
      <h3> Welcome to our cheaters community </h3>

      <div class="form-group text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <%= form_tag("/girlfriends", method: "get") do %>
                <%= text_field_tag :city, nil, class: "form-control", name: "user_input_city", id: "user_input_city", placeholder: 'Where do you want company?' %>
                <%= submit_tag "Search", class: 'btn navbar-wagon-button' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="col-sm-12 col-md-6">
      <h1> Do you want her to have dinner with you tonight ? </h1>
        <p> Check out all the available girlfriends, and book them for an amazing evening and a hole new experience.</p>
        <p> All our girlfriends are CIA and NASA approved (des vrais avions quoi). Stop hesitating and bring it on ! </p>
    </div>
    <div class="col-sm-12 col-md-6">
      <p> <%= image_tag 'homemannequin.png', size: '440x400' %></p>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="container">
    <div class="col-sm-12 col-md-6">
      <p> <%= image_tag 'homeshare.jpg', size: '440x256' %></p>
    </div>
    <div class="col-sm-12 col-md-6">
      <h1> Share the love </h1>
      <p> If your girl friends are bored as well and wouldn't mind meeting new handsome people, just add them to the global offer. It's easy money, with professional services and insurance against jerks. </p>
    </div>
  </div>

  <hr>

  <h2><%= link_to 'Girlfriends', girlfriends_path, class: "navbar-wagon-item navbar-wagon-button btn" %></h2>

  <div class="container">
    <% @girlfriends.each do |girlfriend| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card text-center" >
        <span class="card-shadow"></span>
        <div class="card-bg" style="background-image:url(<%= girlfriend.picture.url (:medium) %>)"></div>
        <span class="card-text">
          <h2><%= girlfriend.name %></h2>
          <p><%= girlfriend.city %></p>
        </span>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>





