<div class='text-center'>

  <div class="banner">
    <div class="banner-shadow"></div>
    <div class="content text-center" data-sr='enter top'>
      <h1> Pick your fresh basket </h1>
      <h3> Welcome to our organic community </h3>

      <div class="form-group text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <%= form_tag("/girlfriends", method: "get") do %>
                <%= text_field_tag :city, nil, class: "form-control", name: "user_input_city", id: "user_input_city", placeholder: 'Where do you want to be delivered?' %>
                <%= submit_tag "Search", class: 'btn navbar-wagon-button' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="col-sm-6 col-md-6">
      <h1> Do you want to eat some fresh organic food on a daily basis ? </h1>
        <p> Check out all our local farmers, and have the food delived after 5pm for an amazing experience </p>
        <p> All our farmers are CIA and NASA approved (The real cawboys of substainable develpment). Stop eating junk food and bring it on ! </p>
    </div>
    <div class="embed-container col-sm-6 col-md-6">
      <iframe width="560" height="349" src="http://www.youtube.com/embed/PF9-lstnLvo">
        <html lang="en" dir="ltr">
      </iframe>
    </div>
  </div>


  <br>
  <br>
  <br>

  <div class="container">
    <div class="col-sm-12 col-md-6">
      <p> <%= image_tag 'basket.jpeg', class: 'img-responsive' %></p>
    </div>
    <div class="col-sm-12 col-md-6">
      <h1> Spread the tomatoes </h1>
      <p> If your appetetite grew and you want save the planet, you can speak about us and even become a local farmer. It's easy money, with just some seeds and compost. </p>
    </div>
  </div>

  <hr>

  <h2><%= link_to 'Basket', girlfriends_path, class: "navbar-wagon-item navbar-wagon-button btn" %></h2>

  <div class="container">
    <% @girlfriends.each do |girlfriend| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card text-center" >
        <span class="card-shadow"></span>
        <div class="card-bg" style="background-image:url(<%= girlfriend.picture.url (:medium) %>)"></div>
        <span class="card-text">
          <h2><%= girlfriend.name %></h2>
          <p><%= girlfriend.city %></p>
        </span>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>





