<div class="card">
  <div class="card-bg" style="background-image:url(<%= girlfriend.picture.url%>)"></div>
  <span class="card-gradient"></span>
  <div class="card-text">
    <h2><%= girlfriend.name %></h2>
  </div>
  <div class="card-price">
    <p><%= girlfriend.price %> € </p>
  </div>

  <% if user_signed_in? %>
    <% if current_user.id == girlfriend.pimp_id %>
      <%= link_to '', account_girlfriend_path(girlfriend), class: "card-link" %>
    <% else %>
      <%= link_to '', new_account_girlfriend_appointment_path(girlfriend), class: "card-link" %>
    <% end %>
  <% else %>
    <%= link_to '', root_path, class: "card-link" %>
  <% end %>
</div>
