
<% if params[:user_input_city] %>
  <h1 class="text-center"> Baskets in <%= params[:user_input_city] %> </h1>
<% else %>
  <h1 class="text-center"> Our baskets </h1>
<% end %>


  <div class="form-group text-center">
    <div class="container">
      <%= form_tag("/girlfriends", method: "get") do %>
        <%= text_field_tag :city, nil, class: "form-control", name: "user_input_city", id: "user_input_city", placeholder: 'Look for another location?' %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <% @girlfriends.each do |girlfriend| %>
      <div class="col-xs-12 col-sm-4">
      <%= render "girlfriends/card", girlfriend: girlfriend %>
      </div>
    <% end %>
  </div>

  <div id="map" style="width: 100%; height: 300px;"></div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    <% end %>
  <% end %>
