<div class="container">
  <div class="row col-sm-12 col-md-6 text-center">
      <%= image_tag @girlfriend.picture (:medium) %>
  </div>

  <div class="row col-sm-12 col-md-6 text-center">
    <ul style="list-style: none;">
      <li><strong><%= @girlfriend.name %></strong></li>
      <li><%= @girlfriend.description %></li>
      <li><%= @girlfriend.price %> dollars </li>
      <li><%= @girlfriend.age %> years old </li>
      <li><%= @girlfriend.city %></li>
      <li><%= @girlfriend.street %></li>
      <li><%= @girlfriend.availability %></li>
      <li><%= @girlfriend.nationality %></li>
      <li><%= @girlfriend.job %></li>
  <br>
    </ul>
  </div>


</div>


