<div class="container text-center ">
  <div class="row">

    <%= @girlfriend.name %>
    <%= @girlfriend.description %>
    <%= @girlfriend.price %>
    <%= @girlfriend.age %>
    <%= @girlfriend.city %>
    <%= @girlfriend.street %>
    <%= @girlfriend.availability %>
    <%= @girlfriend.nationality %>
    <%= @girlfriend.job %>
    <%= @girlfriend.picture %>
    <br>
    <br>
  </div>
</div>


