
<div class="banner">
  <div class="banner-shadow"></div>
  <div class="content text-center" data-sr='enter top'>
    <h1> ChefBnb </h1>
    <h3> Pick your chef </h3>

    <div class="form-group text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <%= form_tag("/girlfriends", method: "get") do %>
              <%= text_field_tag :city, nil, class: "form-control", name: "user_input_city", id: "user_input_city", placeholder: 'City' %>
              <%= submit_tag "Search", class: 'btn navbar-wagon-button' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" >
  <div class="col-md-6">
    <h2>Sign in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <div class="teaser col-md-6">
    <div class="container">
      <% top_3_girlfriends.each do |girlfriend| %>
        <br>
        <div class="row">
          <div class="col-sm-offset-2">
            <ul class="list-inline avatars">
              <div class="card-teaser" >
                <li>
                  <h3> <%= image_tag girlfriend.picture, class: "img-circle avatar" %>
                  <%= girlfriend.name %> </h3>
                </li>
              </div>
            </ul>
          </div>
        </div>
      <%end %>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="col-sm-12 col-md-6">
    <div class="text-center">
      <h1> Do you want to learn cooking some fresh organic food with an awesome Chef?  </h1>
    </div>
      <p> Check out all our chef and their recipee. It's a unique experience for all the food lovers  </p>
      <p> All our Chef are CIA and NASA approved (The real cawboys of gastronomy). Stop eating junk food and bring it on! </p>
  </div>
    <div class="embed-container col-sm-6 col-md-6">
      <iframe width="560" height="349" src="http://www.youtube.com/embed/PF9-lstnLvo">
        <html lang="en" dir="ltr">
      </iframe>
    </div>
</div>

<br>

<div class="container">
    <div class="text-center">
      <h1> Organic food certified </h1>
    </div>
    <div class="text-center">
      <p> We make sure than the products the chef uses to cook come from local farmers and are organic. Our purpose is to enhance the cooking experience while acting for substainability </p>
          <p> <%= image_tag 'basket.jpeg', class: 'img-responsive' %></p>
    </div>
</div>
