<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <a href="/">
      <%= image_tag "newlogo.jpg", class: "navbar-wagon-logo" %>
    </a>

    <div class="navbar-wagon-pusher"></div>

    <hr class="hidden-xs hidden-sm">

    <% if user_signed_in? %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-button btn" %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path ,class: "navbar-wagon-item navbar-wagon-button btn" %>
    <% end %>

    <hr>

    <% if user_signed_in? %>
      <%= link_to 'Profile', account_dashboard_path ,class: "navbar-wagon-item navbar-wagon-button btn" %>
    <% else %>
      <%= link_to 'Check our girls', girlfriends_path ,class: "navbar-wagon-item navbar-wagon-button btn" %>
    <% end %>
  </div>
</nav>
